<footer class="text-center text-lg-start  text-muted container-fluid footerComponent  ">
  <div class="col-sm-9 mx-auto">
  <section class="">
    <div class="container-fluid  text-md-start mt-5">
      <div class="row mt-0">
        <div class="col-md-6 mx-auto mb-4 text-left">
          <div class="col-sm-10 text-left">
            <a class="navbar-brand" href="#"> </a>
          </div>
          <div class="col-sm-6 text-left">
            <h6 class="text-left px-3 mx-3 fw-bold mb-4">
              <i class=" "></i>  Help a billion people find the right job
            </h6>
          </div>
        </div>
        <div class="col-md-6 mx-auto mb-4 text-left ">
          <div class="row">
            <div class="col-md-4 mx-auto mb-md-0 mb-4 text-left">
               <p class="mb-2">
                <a href="#!" class="text-reset">Jobs</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset ">Referrals</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset">Diversity</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset">Events</a>
              </p>
            </div>
            <div class="col-md-4 mx-auto mb-md-0 mb-4 text-left">
               <p class="mb-2">
                <a href="#!" class="text-reset">Employees</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset">Learning</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset">Creer Pathing</a>
              </p>
               <p class="mb-2">
                <a href="#!" class="text-reset">Gigs</a>
              </p>
            </div>
            <div class="col-md-4 mx-auto mb-md-0 mb-4 text-left">
              <h6 class="fw-bold">
                Follow Phenom people:
              </h6>
              <div class="row">
                <div class="col-sm-12">
                    <div class="socialMedia"></div>
                </div>
              </div>
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<hr>
  <div class="row p-4 rightsReserved"  >
    <div class="col-sm-6 mx-auto text-left">All Rights Reserved © Phenom People</div>
    <div class="col-sm-6 mx-auto text-right">
      <a href="#" class=""> Privacy Policy</a> | <a href="#" class=""> Terms of Service</a>
    </div>

  </div>
  </div>
</footer>
