<div class="headerComponent">
  <div class="text-center text-lg-start text-muted container-fluid  headerComponentTop">
    <div class="col-sm-9 mx-auto">
      <nav class="navbar mx-2 navbar-expand-lg ">
        <a class="navbar-brand" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Jobs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Referrals <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Diversity <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">People <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Learning <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gigs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Gigs 1</a>
                <a class="dropdown-item" href="#">Another Gigs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Gigs Something else here</a>
              </div>
            </li>

          </ul>

        </div>
        <div class="display-inline mt-2 mt-md-0">
          <a  href="#" class="starClick my-2 my-sm-0 mx-4" type="submit"> </a>
          <a href="#"  class="bellClick my-2 my-sm-0 mx-4" type="submit"> </a>
          <a  href="#" class="profilePic  my-2 my-sm-0 mx-4" type="submit"> </a>
        </div>
      </nav>
    </div>
  </div>

<div class="jumbotron "> </div>
</div>
